<div class="jumbotron">
  <h1>Welcome to the Coders Club</h1>
  <p class="lead">
    We don't turn off after class ends.
  </p>

</div>

<div class="row information">

  <div class="col-md-6">

    <h4>Club info</h4>
    <p>
      Weekly Meeting (Spring 2015):<br>
      Days: Thursday<br>
      Time: 5-7pm<br>
      Batmale 453<br>
    </p>

  </div>

  <div class="col-md-6">

    <h4>Stay in touch</h4>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Join Our Google Group</a></p>

    <p><a class="btn btn-lg btn-success" ng-href="#/">Email us</a></p>
    
  </div>

  <div class="col-md-12">

    <h4>Upcoming Events</h4>
    <p>
      Feb. 28th OSCTC
    </p>
    
  </div>

</div>
